
{% extends 'users/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Войти</h1>
</div>

<div class="card-body">

    {% if messages %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
      <strong>Предупреждение!</strong>
        <br>
        {% for message in messages %}
                   <strong>{{ message }}</strong>
       {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label> Имя пользователя </label>
        {{form.username}}

        <label> Пароль </label>
        {{form.password}}

        <input style="margin-top:10px ;" class="button" type="submit" value="Войти">
    </form>
    <p>У Вас еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>


{% endblock content %}
